<div class="aic jcc p64_0" [class.g64]="!is_mobile" [class.row]="!is_mobile" [class.column]="is_mobile" [class.g32]="is_mobile">
    <div class="column g32 fadeFromBottom" [class.w_640]="!is_mobile" [class.order_2]="is_mobile" [class.p32]="is_mobile">
        <div>
            <div class="c_blue" [class.h2]="is_mobile" [class.tac]="is_mobile" [class.h1]="!is_mobile">Lidav</div>
            <div [class.h2]="is_mobile" [class.tac]="is_mobile" [class.h1]="!is_mobile" >Une application qui facilite les Preparations aux examens.</div>
        </div>

        <div class="base" [class.tac]="is_mobile">Creer des quiz, des fiches de revision, des competitions et des groupes d’etudes pour
            rendre vos revisions plus interactives.</div>

        <app-download-app></app-download-app>
    </div>
    <img class="fadeFromBottom" src="assets/images/screenshots/home.png" alt="" width="300px" [class.order_1]="is_mobile">
</div>  