<div class="column  aic" [class.p16]="is_mobile" [class.g8]="is_mobile"  [class.g32]="!is_mobile">
    <div [class.h1]="!is_mobile" [class.h2]="is_mobile" class="tac" [class.m_bottom]="is_mobile">Fonctionnalites</div>
    <div [class.row]="!is_mobile" [class.column]="is_mobile" [class.g32]="!is_mobile" [class.g8]="is_mobile">
        <app-feature-item [title]="'Creer des Quiz'"
            [link]="'https://www.youtube.com/watch?v=GDRFK8Olwg0&list=PLy0LqCETICKVUMbfknlTHxl2hOc3T0dds&index=3&ab_channel=AfrographixStudio'">
            Lidav est votre compagnon idéal pour réviser vos cours. Créez facilement des questionnaires sur les sujets
            que vous
            souhaitez réviser et testez vos connaissances en un rien de temps. Avec Lidav, la révision devient plus
            interactive et
            plus efficace que jamais !
        </app-feature-item>
        <app-feature-item [title]="'Creer des fiches de revision'"
            [link]="'https://www.youtube.com/watch?v=oihQ0s0IXYM&list=PLy0LqCETICKVUMbfknlTHxl2hOc3T0dds&index=1&ab_channel=AfrographixStudio'">
            Transformez vos connaissances en fiches de révision dynamiques ! Créez facilement des fiches
            Question&Reponses
            personnalisées pour étudier de manière efficace et mémorable.</app-feature-item>
    </div>
    <div class="g32" [class.row]="!is_mobile" [class.column]="is_mobile" [class.g32]="!is_mobile" [class.g8]="is_mobile">
        <app-feature-item [title]="'Creer des competitions'"
            [link]="'https://www.youtube.com/watch?v=hsYBPTlU38U&list=PLy0LqCETICKVUMbfknlTHxl2hOc3T0dds&index=4&ab_channel=AfrographixStudio'">
            Lidav vous offre la possibilité de créer des compétitions stimulantes pour défier vos élèves. Concevez des
            questionnaires compétitifs pour encourager l'engagement et la motivation dans l'apprentissage. Avec Lidav,
            transformez
            l'éducation en une expérience captivante et enrichissante pour tous.</app-feature-item>
        <app-feature-item [title]="'Creer des groupes d’etudes'"
            [link]="'https://www.youtube.com/watch?v=MVi7zr7MBn4&list=PLy0LqCETICKVUMbfknlTHxl2hOc3T0dds&index=2&ab_channel=AfrographixStudio'">
            Lidav est votre compagnon idéal pour réviser vos cours. Créez facilement des questionnaires sur les sujets
            que vous
            souhaitez réviser et testez vos connaissances en un rien de temps. Avec Lidav, la révision devient plus
            interactive et
            plus efficace que jamais !</app-feature-item>
    </div>
    <app-download-app [center]="true" [class.m_t_32]="is_mobile"></app-download-app>
</div>   