<div class="p16 vw100  row aic jcc" style="background-color: #2A2A2A;color:rgb(131, 131, 131);">
    <div  class="aic jcsb" [class.row]="!is_mobile" [class.column]="is_mobile" [class.w_800]="!is_mobile" [class.vw100]="is_mobile" [class.g8]="is_mobile">
        <div class="bold">AfroGraphix Projects</div>
        <div class="row  wrap jcc" [class.g16]="!is_mobile">
            <div class="project_item" >Lidav</div>
            <div class="project_item" (click)="go_to_restflow()">RestFlow</div>
            <div class="project_item" (click)="go_to_isis()">Isis</div>
            <div class="project_item"  (click)="go_to_neftis()">Neftis</div>
            <div class="project_item"  (click)="go_to_sekhmet()">Sekhmet</div>
            <div class="project_item" (click)="go_to_checkgames()">CheckGames</div>
        </div>
    </div>

</div>