<div class="column jcc">
    <div class="row" [class.jcc]="!is_mobile" [class.vw100]="is_mobile" [class.oa]="is_mobile">
        <img src="assets/images/screenshots/6.png" alt="">
        <img src="assets/images/screenshots/5.png" alt="">
        <img src="assets/images/screenshots/1.png" alt="">
    </div>
    <div class="row" [class.jcc]="!is_mobile" [class.vw100]="is_mobile" [class.oa]="is_mobile">
        <img src="assets/images/screenshots/2.png" alt="">
        <img src="assets/images/screenshots/3.png" alt="">
        <img src="assets/images/screenshots/4.png" alt="">
    </div>
    <app-download-app  [class.p32]="is_mobile" [center]="true" style="margin-top:32px;"></app-download-app>
</div>